@import "./Dashboard/sidenavigation";
@import "./Dashboard/topNavigation";
@import "./Dashboard/dashboard";


.rep-btn{
    cursor: pointer;
}

.hover-able{
    //background-color: darken();
}

.form_error{
    width: 100%;
    display: block;
    color: red;
}


input{
  color: black;
  background-color: white;
}
.pagination > li > a
{
    background-color: white;
    color: #ea4c4c;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #f57272;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #ea4c4c !Important;
    border: solid 1px #ea4c4c !Important;
}

.pagination > .active > a:hover
{
    background-color: #ea4c4c !Important;
    border: solid 1px #ea4c4c;
}
